
body {
   margin-top: 1.0em;
   background-color: #ffffcc;
   font-family: "Helvetica,Arial,FreeSans", sans-serif;
}

#container {
   margin: 0 auto;
   width: 700px;
}

h1 {
   font-size: 3em;
   color: #009900;
   margin-bottom: 3px;
}

h1 a {
   text-decoration: none
}

h2 {
   font-size: 1.5em;
   color: #009900;
}

h3 {
   color: #009900;
}

a {
   color: #003300;
}

.description {
   margin-bottom: 30px;
   margin-top: 30px;
}

pre {
   background: #000;
   color: #fff;
   padding: 15px;
}

hr {
   border: 0;
   width: 80%;
   border-bottom: 1px solid #aaa
}

.footer {
   text-align: center;
   padding-top: 30px;
   font-style: italic;
}
   